body {
    margin: 0px;
    /* Prevent blue highlighting of elements on Android Chrome */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

#warning {
    z-index: 3;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 90vw;
    font-size: 12pt;
    font-family: sans-serif;
}

.red {
    color: red;
}

#fullscreen {
    z-index: 3;
    width: 100px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
}

#fullscreen:hover {
    opacity: 1;
}

#playicon {
    pointer-events: none;
    touch-action: none;
    position: fixed;
    background-image: url('../public/playicon.png');
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#errors {
    z-index: 1;
    position: fixed;
    top: 10px;
    left: 0px;
    width: 100vw;
    color: red;
    font-size: 16pt;
}

#censor {
    z-index: 1;
    position: fixed;
    top: 10px;
    left: 0px;
    width: 100vw;
    height: 50px;
    background: black;
}

#static {
    background-image: url(../public/static.gif);
    position: fixed;
    top: 0px;
    left: 0px;
    width:100vw;
    height:100vh;
    height: calc(var(--vh, 1vh) * 100);
}

#player {
    position: fixed;
    top: 0px;
    left: 0px;
    width:100vw;
    height:100vh;
    height: calc(var(--vh, 1vh) * 100);
    z-index: -1;
    opacity: 0;
}

#overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width:100vw;
    height:100vh;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 2;
    cursor: pointer;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}
